.DS_Store
**/.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
*.orig

# Swift package manager
.build/
.swiftpm/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Editor
.idea/
*.swp
